body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F9F9F9;
    height: 100vh; /* Adjusted for full height */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d47a1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d47a1;
    padding: 20px;
    width: 100%;
}

.links {
    margin-left: 15px;
    display: flex;
    gap: 30px;
}

.icons {
    display: flex;
    gap: 30px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px); /* Full height minus header height */
    overflow-y: auto; /* Allow scrolling if content is too long */
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search .add-btn {
    width: 20%;
    background-color: #0d47a1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.requests-list {
    list-style: none;
    padding: 0;
}

.requests-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.requests-list .new-request {
    font-weight: bold;
}

.requests-list .completed {
    text-decoration: line-through;
}

.solicititle textarea {
    width: 500px; /* Adjusted width */
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8efe0;
    resize: none;
    line-height: 1.2; /* Adjust this to control the placeholder position */
}

.assunsoli textarea {
    width: 500px; /* Adjusted width */
    height: 150px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8efe0;
    resize: none;
    line-height: 1.2; /* Adjust this to control the placeholder position */
}

.soliall {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.solicititle h1 {
    text-align: center;
}

.buttons {
    width: 100px;
    height: 40px;
    background-color: #0d47a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #0b3c91;
}

.botaoenviar {
    display: flex;
    justify-content: flex-end;
}